In [1]:
USE ecolab_books_db

In [3]:
CREATE TABLE 
    new_books(
        id VARCHAR(100) NOT NULL PRIMARY KEY,
        title VARCHAR(100) NOT NULL,
        author VARCHAR(100) NOT NULL,
        descrip VARCHAR(1000) DEFAULT('')
    )

In [7]:
CREATE TABLE
    book_info(
        isbn INT NOT NULL PRIMARY KEY,
        book_id VARCHAR(100) NOT NULL FOREIGN KEY REFERENCES new_books(id) ON DELETE CASCADE ON UPDATE CASCADE,
        format VARCHAR(100) NOT NULL,
        price INT DEFAULT(0),
        cover VARCHAR(100),
        publisher VARCHAR(100)
    )

In [8]:
CREATE TABLE
    publisher(
        name VARCHAR(100) NOT NULL ,
        address VARCHAR(1000),
        website VARCHAR(100) NOT NULL PRIMARY KEY
    )

: Msg 1776, Level 16, State 0, Line 1
There are no primary or candidate keys in the referenced table 'book_info' that match the referencing column list in the foreign key 'FK__publisher__name__4D94879B'.

: Msg 1750, Level 16, State 1, Line 1
Could not create constraint or index. See previous errors.

In [ ]:
CREATE TABLE NEW_REVIEWS(
    id INT IDENTITY PRIMARY KEY,
    book_id VARCHAR(100) NOT NULL FOREIGN KEY REFERENCES new_BOOKS(id) ON DELETE CASCADE ON UPDATE CASCADE,
    rating INT NOT NULL
)