In [1]:
CREATE DATABASE final_assignment_db

In [5]:
USE final_assignment_db

In [6]:
CREATE TABLE 
    authors(
        author_id VARCHAR(100) NOT NULL PRIMARY KEY,
        author_name VARCHAR(100) NOT NULL
    )

CREATE TABLE
    books(
        book_id VARCHAR(100) NOT NULL PRIMARY KEY,
        book_name VARCHAR(100) NOT NULL,
        author_id VARCHAR(100) NOT NULL FOREIGN KEY REFERENCES authors(author_id) ON DELETE CASCADE ON UPDATE CASCADE,
        price INT DEFAULT(0)
    )

In [7]:
CREATE TABLE
    users(
        user_id VARCHAR(100) NOT NULL PRIMARY KEY,
        user_name VARCHAR(100) NOT NULL
    )

CREATE TABLE
    book_users(
        book_id VARCHAR(100) NOT NULL FOREIGN KEY REFERENCES books(book_id) ON DELETE CASCADE ON UPDATE CASCADE,
        user_id VARCHAR(100) NOT NULL FOREIGN KEY REFERENCES users(user_id) ON DELETE CASCADE ON UPDATE CASCADE
    )

In [22]:
CREATE TABLE 
    reviews(
        book_id VARCHAR(100) NOT NULL FOREIGN KEY REFERENCES books(book_id) ON DELETE CASCADE ON UPDATE CASCADE,
        user_id VARCHAR(100) NOT NULL FOREIGN KEY REFERENCES users(user_id) ON DELETE CASCADE ON UPDATE CASCADE,
        rating INT NOT NULL,
        review VARCHAR(300)
    )

In [9]:
CREATE PROCEDURE add_author
    @author_id VARCHAR(100),
    @author_name VARCHAR(100)
AS
    INSERT INTO
        authors
        (author_id, author_name)
        VALUES
        (@author_id, @author_name)
GO

In [10]:
CREATE PROCEDURE remove_author
    @author_id VARCHAR(100)
AS
    DELETE FROM
        authors
    WHERE
        author_id = @author_id
GO

In [11]:
CREATE PROCEDURE get_all_authors
AS
    SELECT 
        *
    FROM
        authors
GO

In [17]:
CREATE PROCEDURE get_author_by_id
    @author_id VARCHAR(100)
AS
    SELECT *
    FROM  
        authors
    WHERE
        author_id = @author_id
GO

In [19]:
CREATE PROCEDURE update_author
    @author_id VARCHAR(100),
    @new_author_id VARCHAR(100),
    @new_author_name VARCHAR(100)
AS  
    UPDATE
        authors
    SET
        author_id = @new_author_id,
        author_name = @new_author_name
    WHERE
        author_id = @author_id
GO

In [23]:
CREATE PROCEDURE get_author_reviews
    @author_id VARCHAR(100)
AS
    SELECT 
        r.book_id,
        rating,
        review
    FROM
        books as b
    JOIN
        reviews as r
    ON
        b.book_id = r.book_id
    WHERE
        b.author_id = @author_id
    GO

In [24]:
CREATE PROCEDURE add_book
    @book_id VARCHAR(100),
    @book_name VARCHAR(100),
    @author_id VARCHAR(100),
    @price INT
AS
    INSERT INTO 
        books(book_id, book_name, author_id, price)
    VALUES( @book_id, @book_name, @author_id, @price )
GO

In [27]:
CREATE PROCEDURE get_all_books
AS
    SELECT *
    FROM 
        books
GO

In [29]:
CREATE PROCEDURE add_book_review
    @book_id VARCHAR(100),
    @user_id VARCHAR(100),
    @rating INT,
    @title VARCHAR(100),
    @review VARCHAR(300)
AS 
    INSERT INTO 
        reviews (book_id, user_id, rating, review)
    VALUES
        (@book_id, @user_id, @rating, @review)
GO

In [30]:
CREATE PROCEDURE remove_book
    @book_id VARCHAR(100)
AS
    DELETE FROM 
        books 
    WHERE
        book_id = @book_id
GO

In [31]:
CREATE PROCEDURE get_book_by_id
    @book_id VARCHAR(100)
AS
    SELECT * 
    FROM books 
    WHERE book_id = @book_id
GO

In [34]:
CREATE PROCEDURE get_books_by_author_id
    @author_id VARCHAR(100)
AS
    SELECT *
    FROM 
        BOOKS
    WHERE
        author_id = @author_id
GO

In [40]:
CREATE PROCEDURE get_book_reviews
    @book_title VARCHAR(100)
AS
    SELECT
        r.book_id,
        r.user_id,
        rating, review
    FROM
        REVIEWS as r
    INNER JOIN
        books as b
    ON 
        b.book_id = r.book_id
    WHERE
        b.book_name like '%'+ @book_title + '%'
GO

In [37]:
CREATE PROCEDURE add_user
    @user_id VARCHAR(100),
    @user_name VARCHAR(100)
AS
    INSERT INTO 
        users(user_id, user_name)
    VALUES
        (@user_id, @user_name)
GO

In [41]:
CREATE PROCEDURE get_user
    @user_id VARCHAR(100)
AS
    SELECT *
    FROM
        users
    WHERE 
        user_id = @user_id
GO

book_id,rating,review
harry_potter3,4,it is good